/* police Raleway */
body
{
    font-family: 'Raleway', sans-serif;
}

/* GENERAL */
header,
main{
    max-width: 1200px;
    margin: 0 auto;
}

/* Header */
#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-links{
    width: 400px;
    max-width: 400px;
}

.header-links ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
/* top links */
a
{
    color: #0065ff;
    text-decoration: none;
}
a:hover
{
    text-decoration: underline;
}
/* MAIN */ 
.transparent
{
    opacity: 0.5;
    font-size: 17px;;
}
/*Form*/

input[value="Rechercher"]
{
    background-color: #0065ff;
    color: white;
    cursor: pointer; 
    border: 1px solid #f2f2f2;
    border-radius: 0px 10px 10px 0px;
    margin-left: -4px;
    padding: 10px 10px;
}
input
{
    font-size: 17px; 
    border: 1px solid #f2f2f2;
    padding: 10px 10px;
}
/* black icon */
.form i
 {
    font-size: 17px;
    color: black;
    border: 1px solid #f2f2f2;
    background-color: #f2f2f2;
    border-radius: 10px 0px 0px 10px; 
    margin-right: -4px;
    padding: 10px 10px;
}  
/* blue icon */
.fas
{
    color: #0065ff;
}
/* FILTER */
.filter
{
   display: flex;
   font-size: 17px;
   align-items: center;
}
.filter i
{
    border: 1px solid #deebff;
    border-radius: 50%;
    padding: 12px 10px;
    background: #deebff;
    font-size: 15px;
    width: 20px;
    height: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.filter-elements
{
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    list-style: none;
    flex-wrap: wrap;
}
.filter-element
{
    margin-right: 20px;
}
.filter-element span
{
    border: 1px solid #f2f2f2;
    border-left: none;
    padding: 9px 17px 9px 17px;
    margin-left: -10px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.transparents
{
    opacity: 0.5;
    font-size: 17px;
    margin-bottom: 40px;
}
.transparents i
{
    font-size: 13px;
    border: 1px solid #f2f2f2;
    border-radius: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 7px;
    padding-left: 7px;
    margin-right: 10px;
}
#hébergements
{
    display:flex;}   
/* PRINCIPAL SECTION */
#he h2{
    padding-left: 20px;
    margin-top: 40px;
}
#he{
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    height: 600px;
    background-color:#f2f2f2;
    border-radius: 20px;
    text-align:left;
    margin-right: 40px; 
    padding-left: 10px;
    padding-right: 10px;
}
#he i{
    font-size: 10px;
}
.hebs {  
    display: flex;
    flex-wrap: wrap;
    background-color:#f2f2f2;
    border-radius: 20px;    
}
.hebs img{
    width: 210px;
    height: 100px;
    border-radius: 20px 20px 0 0;
}
.hebs figure{
    border-radius: 20px;
    margin-top: 0px;
}
.hebs figcaption{
    font-size: 14px;
    line-height: 20px;
    padding-left: 10px;
    border-radius: 0 0 20px 20px;
}
/* ASIDE SECTION */
#populaires
{
    width: 400px;
    height: 600px;
    background-color:#f2f2f2;
    border-radius: 20px;
    text-align:left;
    padding-left: 20px;
    padding-right: 0px;
}
#populaires i{
    font-size: 10px;
    padding-top: 20px;
}
#populaires h2{
    padding-left: 20px;
    margin-top: 40px;
}
#populaires h2 i{
    padding-left: 80px;
    color: black;
    font-size: 17px;
}
.pops{
    display: block;
}
.pops figure{
    width: 120px;
    height: 120px;
    border-radius: 20px;
    margin-bottom: 30px;
} 
.pops figure img{
width: 120px;
height: 120px;
    border-radius: 20px 0 0 20px;
}
.pops figcaption{
    padding-top: 10px;
    padding-left: 20px;
    font-size: 14px;
    width: 180px;
    height: 120px;
    border-radius: 0 20px 20px 0;
    background-color: white;
}
/* ACTIVITIES SECTION */
#activités
{
    align-content: flex-end;
    width: 100%;
    margin-top: 40px;
}
figure
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 26%;
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    margin: 20px;
}
figcaption{
    background-color: white;
    padding-top: 10px;
}
footer
{
    background-color:#f2f2f2;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-content: space-around;
    width: 100%;
}

