/* définition police Raleway*/
body
{
    font-family: 'Raleway', sans-serif;
}

/* GENERAL */
header,
main{
    max-width: 1400px;
    margin: 0 auto;
}

/* Header */
#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-links{
    width: 400px;
    max-width: 400px;
}

.header-links ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
/*liens haut de page*/

a
{
    color: #0065ff;
    text-decoration: none;
}
a:hover
{
    text-decoration: underline;
}

.transparent
{
    opacity: 0.5;
    font-size: 17px;;
}
/*Formulaire*/

input[value="Rechercher"]
{
    background-color: #0065ff;
    color: white;
    cursor: pointer; 
    border: 1px solid #f2f2f2;
    border-radius: 0px 10px 10px 0px;
    margin-left: -4px;
    padding: 10px 10px;
}
input
{
    font-size: 17px; 
    border: 1px solid #f2f2f2;
    padding: 10px 10px;
}

/* Icone en noir*/
.form i
 {
    font-size: 17px;
    color: black;
    border: 1px solid #f2f2f2;
    background-color: #f2f2f2;
    border-radius: 10px 0px 0px 10px; 
    margin-right: -4px;
    padding: 10px 10px;
}
   
/* Icone en bleu*/
.fas
{
    color: #0065ff;
}
/*Filtres*/
.filter
{
   display: flex;
   font-size: 17px;
   align-items: center;
}
.filter i
{
    border: 1px solid #deebff;
    border-radius: 50%;
    padding: 12px 10px;
    background: #deebff;
    font-size: 15px;
    width: 20px;
    height: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.filter-elements
{
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    list-style: none;
    flex-wrap: wrap;
}

.filter-element
{
    margin-right: 20px;
}

.filter-element span
{
    border: 1px solid #f2f2f2;
    border-left: none;
    padding: 9px 17px 9px 17px;
    margin-left: -10px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.transparents
{
    opacity: 0.5;
    font-size: 17px;
}
.transparents i
{
    font-size: 13px;
    border: 1px solid #f2f2f2;
    border-radius: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 7px;
    padding-left: 7px;
    margin-right: 10px;
}


/*Section Hébergements*/
#hébergements
{
    
    border: 1px solid #f2f2f2;
    background-color:#f2f2f2;
    border-radius: 20px;
    text-align:left; 
    width: 80%;  
}

.hebs{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
}
.hebs img{
    width: 240px;
    height: 120px;
}
/*Section Populaires*/
#populaires
{
    border: 1px solid #f2f2f2;
    width: 30%;
    background-color:#f2f2f2;
    border-radius: 10px;
}
/*Section Activités*/
#activités
{
    align-content: flex-end;
    border: 1px solid #f2f2f2;
    width: 100%;
    background-color:#f2f2f2;
    border-radius: 10px;
}
figure
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 25%;
    
    border: 1px solid #f2f2f2;
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    margin: 20px;
}
figcaption{
    background-color: white;
    padding-bottom: 20px;
    padding-top: 20px;
}

footer
{
    background-color:#f2f2f2;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-content: space-around;
    width: 100%;
}
