/* définition police Raleway*/
body
{
    font-family: 'Raleway', sans-serif;
    max-width: 1400px;
}

/* Header */
img
{
    display:flex;
    flex-direction: row;
    justify-content: left;
}
/*liens haut de page*/
nav
{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    justify-content: space-around;
     margin-top: -50px;
     margin-left: 60%;
}
a
{
    color: #0065ff;
    text-decoration: none;
}
a:hover
{
    text-decoration: underline;
}
.e-header
{
margin-top: 50px;
}
.transparent
{
    opacity: 0.5;
    font-size: 1.2em;;
}
/*Formulaire*/

input[value="Rechercher"]
{
    background-color: #0065ff;
    color: white;
    cursor: pointer; 
    border: 1px solid #f2f2f2;
    border-radius: 0px 10px 10px 0px;
    margin-left: -4px;
    padding: 10px 10px;
}
input
{
    font-size: 1.4em; 
    border: 1px solid #f2f2f2;
    padding: 10px 10px;
}

/* Icone en noir*/
.form i
 {
     font-size: 1.4em;
    color: black;
    border: 1px solid #f2f2f2;
    background-color: #f2f2f2;
    border-radius: 10px 0px 0px 10px; 
    margin-right: -4px;
    padding: 10px 10px;
}
   
/* Icone en bleu*/
.fas
{
    color: #0065ff;
}
/*Filtres*/
.filter
{
   display: flex; 
   flex-direction: row;
   justify-content: space-between;
   align-content: flex-start;
}
.filter-economique
{
    border-radius: 2em;
    border-color: 1px solid black;
}
main
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 20px;
}
/*Section Hébergements*/
#hébergements
{
    border: 1px solid #f2f2f2;
    width: 60%;
    background-color:#f2f2f2;
    border-radius: 10px;
}



figure
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    border-width:1px; 
    border-style:solid; 
    border-color:black;
    background-color: white;
    border-radius: 10px 10px 10px 10px;
    padding: 5px;
    margin: 20px;
}
figcaption
{
  display: flex;
  align-content: space-between;  
}
/*Section Populaires*/
#populaires
{
    border: 1px solid #f2f2f2;
    width: 30%;
    background-color:#f2f2f2;
    border-radius: 10px;
}
/*Section Activités*/
#activités
{
    align-content: flex-end;
    border: 1px solid #f2f2f2;
    width: 100%;
    background-color:#f2f2f2;
    border-radius: 10px;
}
footer
{
    background-color:#f2f2f2;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-content: space-around;
    width: 100%;
}


