/* POLICE */
*{
    list-style: none;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
}

/* GENERAL */

header,
main,
footer{
    max-width: 1400px;
    margin: 0 auto;
}

.D-flex{
    display: flex;
}

/* HEADER */

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-links{
    width: 400px;
    max-width: 400px;
}

.header-links ul{  
    justify-content: space-between;
    list-style: none;
}

.header-links ul li{
    position: relative;
}

.header-links ul li p{
    margin:0;
}
.header-links-element:hover:before{
    content: "";
    width: 100px;
    height: 2px;
    background: #0065ff;
    display: block;
    position: absolute;
    top: -20px;
    left: 0;
}

.header-links a{
    color: black;
    text-decoration: none;
}

nav a:hover{ 
    color: #0065ff;
}

/*FORM*/

.e-header{
    margin-bottom: 0px;
}

.e-headersubtile{
    font-size: 15px;
    font-weight: lighter;
    margin-top: 5px;
}

input[value="Rechercher"]{
    background-color: #0065ff;
    color: white;
    cursor: pointer; 
    border: 1px solid #f2f2f2;
    border-radius: 0px 10px 10px 0px;
    margin-left: -4px;
    padding: 10px 10px;
}

input{
    font-size: 17px; 
    border: 1px solid #f2f2f2;
    padding: 10px 10px;
}

/* Black Icon */

.form i{
    font-size: 17px;
    color: black;
    border: 1px solid #f2f2f2;
    background-color: #f2f2f2;
    border-radius: 10px 0px 0px 10px; 
    margin-right: -4px;
    padding: 10px 10px;
}  
/* .button-icon{
    border-radius: 10px 10px 10px 10px;
} */

/* Blue Icon */

.fas{
    color: #0065ff;
}

/* FILTER */

.filter{
   display: flex;
   font-size: 17px;
   align-items: center;
}

.filter p, span{
    font-weight: bold;
}

.filter i{
    border: 1px solid #deebff;
    border-radius: 50%;
    padding: 12px 10px;
    background: #deebff;
    font-size: 15px;
    width: 20px;
    height: 16px;
    display:inline-flex;
    justify-content: center;
}

.filter-elements{
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    list-style: none;
    flex-wrap: wrap;
}

.filter-elements a:hover{
    background-color: #deebff;
    color: white;
}

.filter-element{
    margin-right: 20px;
}

.filter-element span{
    border: 3px solid #f2f2f2;
    border-left: none;
    padding: 9px 17px 9px 17px;
    margin-left: -10px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.filter-continued{
    font-size: 15px;
    font-weight: lighter;
    margin-bottom: 30px;
}

.filter-continued i{
    font-size: 13px;
    border: 1px solid #f2f2f2;
    border-radius: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 7px;
    padding-left: 7px;
    margin-right: 10px;
}

 /* HOSTING PART */

#first-part{
    display:flex;
}  

#hosting h2{
    padding-left: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
    height: 40px;
}

#hosting{
    display: flex;
    flex-wrap: wrap;
    background-color:#f2f2f2;
    border-radius: 20px;
    text-align:left;
    margin-right: 40px; 
    padding-right: 10px;
    padding-left: 20px;
    width: 70%; 
}

#hosting i{
    font-size: 10px;
}

.show-more-hosting {
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}

.left-frame{
    margin-top: -30px;
}

.hosting-sheet{  
    display: flex;
    flex-wrap: wrap;
    background-color:#f2f2f2;
    border-radius: 20px;  
}

.hosting-sheet img{
    object-fit: cover;
    width: 100%;
    height: 100px;
    border-radius: 20px 20px 0 0;
}

.hosting-sheet figure{
    border-radius: 20px;
    box-shadow: 1px 1px 15px rgb(111, 111, 111); 
    display: flex;
    flex-wrap: wrap;
    width: 100%; 
    background-color: white;
    padding: 5px;
    margin: 12px;
} 

.hosting-sheet figcaption{
    font-size: 14px;
    padding-left: 10px;
    padding-top: 10px; 
    border-radius: 0 0 20px 20px;
}

.hosting-sheet h4{
    margin: 0;
}

.hosting-sheet p{
    margin: 5px 0;
}

.hosting-sheet a{
    color: inherit;
    text-decoration: none;
    width: 28%;
    margin-right: 30px;
    margin-left: 10px;
}

/* ASIDE SECTION */

#popular{
    width: 30%;
    background-color:#f2f2f2;
    border-radius: 20px;
    text-align:left;
    padding-left: 20px;
    padding-right: 20px;
}

#popular i{
    font-size: 10px;
    padding-top: 20px;
}

#popular h2{
    padding-left: 20px;
    display: flex;
    align-items: center;
}

#popular h2 i{
    padding-left: 90px;
    color: black;
    font-size: 17px;
}

.best-popular{
    display: block;
}

.best-popular figure{
    width: 100%;
    width: 320px;
    flex-wrap: nowrap;
    flex-direction: row;
    border-radius: 20px;
    margin-bottom: 30px;
    box-shadow: 1px 1px 15px rgb(111, 111, 111);
    display: flex;
    background-color: white;
    padding: 5px;
    margin: 12px;
} 

.best-popular figure img{
    width: 150px;
    height: 130px;
    border-radius: 20px 0 0 20px;
    object-fit: cover;
}

.best-popular figcaption{
    padding-top: 10px;
    padding-left: 20px;
    font-size: 14px;
    width: 170px;
    height: 120px;
    border-radius: 0 20px 20px 0;
}

.best-popular a{
    color: inherit;
    text-decoration: none;
}

.best-popular p{
    margin:5px 0 5px 0;
    padding-bottom: 20px;
}

.best-popular h4{
    margin-top: 5px;
    margin-bottom: 5px;
}

/* ACTIVITIES SECTION */

#second-part{
    width: 100%;
    margin-top: 40px;
}

#second-part h2{
    padding-left: 20px;
}

.activities{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    height: 450px;
}

.activities h3{
    font-size: 12px;
}

.activities a{
    color: inherit;
    text-decoration: none;
}

.activity-element1 {
    height: 450px; 
    width: 320px;
    background-color: white;
    margin: 10px;
}

.activity-element1 figure{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
} 

.activity-element1 img{
    width:320px;
    height: 350px;
    border-radius: 20px 20px 0 0px;
    object-fit: cover;
    object-position: 60% 80%;
}

 .activity-element1 figcaption{
    display: flex;
    padding-left: 20px;
    border-radius: 0 0 20px 20px;
    background-color: white;
    width: 320px;
    height: 40px;
    box-shadow: 1px 1px 15px rgb(111, 111, 111);
}  

.activity-element2 {
    height: 450px; 
    width: 320px;
    background-color:white;
    margin: 10px;
}

.activity-element2 figure{
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
} 

.activity-element2 .pic1 img{
    max-height: 180px;
    width: 320px;
    border-radius: 20px 20px 0 0px;
    object-fit: cover;
    object-position: 10% 40%;
}

.pic1{
    max-height: 180px;
}

.activity-element2 .pic2 img{
    max-height: 100px;
    width: 320px;
    border-radius: 20px 20px 0 0px;
    object-fit: cover;
    object-position: 10% 30%;
}

.pic2{
    max-height: 100px;
}

.activity-element2 figcaption{
    display: flex;
    padding-left: 20px;
    border-radius: 0 0 20px 20px;
    background-color:white;
    width: 320px;
    height: 40px;
    margin-bottom: 30px;
    box-shadow: 1px 1px 15px rgb(111, 111, 111);
}

.activity-element3{
    height: 450px; 
    width: 320px;
    background-color:white;
    margin: 10px;
}

.activity-element3 figure{
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
} 

.activity-element3 img{
    width:320px;
    height: 350px; 
    border-radius: 20px 20px 0 0px;
    object-fit: cover;
    object-position: 50% 70%;
}

.activity-element3 figcaption{
    display: flex;
    align-items: center;
    padding-left: 20px;
    border-radius: 0 0 20px 20px;
    background-color: white;
    width: 320px;
    height: 40px;
    box-shadow: 1px 1px 15px rgb(111, 111, 111);
}

.activity-element4 {
    height: 450px; 
    width: 320px;
    background-color:white;
    margin: 10px;
} 

.activity-element4 figure{
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
}

.activity-element4 .pic3 img{
    height: 140px;
    min-width: 320px;
    border-radius: 20px 20px 0 0px;
    object-fit: cover;
    object-position: 80% 10%;
}

.pic3{
    max-height: 140px;
}

.activity-element4 .pic4 img{
    height: 140px;
    min-width: 320px;
    border-radius: 20px 20px 0 0px;
    object-fit: cover;
    object-position: 80% 10%;
}

.pic4{
    max-height: 140px;
}


.activity-element4 figcaption{
    display: flex;
    padding-left: 20px;
    border-radius: 0 0 20px 20px;
    background-color: white;
    width: 320px;
    height: 40px;
    margin-bottom: 30px;
    box-shadow: 1px 1px 15px rgb(111, 111, 111);
}

/* END PAGE */ 

footer{
    background-color:#f2f2f2;
    display: flex;
    flex-direction:row;
    width: 100%;
}

/* footer ul li {
    list-style:none;  
}  */

footer p{
    padding-left: 40px;
}

.footer-column2{
    margin-left: 220px;
    margin-right:220px;
    padding-top: 20px;
}

.footer-column{
    padding-top: 20px;
}
 
/*Mobile Screen*/

@media screen and (max-width: 1024px){

        nav ul li a{ 
            margin-top:50px;
            margin-right:20px;
            margin-left:20px;
            display: flex;
            justify-content: center;
            font-size: 1.2em;  
        }
        #header img{
            margin-top:-50px;
        }

        .filter p{
            margin-top:-40px;
        }

        .button{
            display:none;
        }
        #first-part{
            display: flex;
            flex-direction: column-reverse;
            
        }
        .right-frame{
            width: 100%;
        }
        .left-frame{
            width:100%;
        }
        #popular{
            width: 100%;
          
        }
        .body{
            width: 100%;
            margin: 0;
            
        }
        .activities{
            display:block;
        }
    
       #footer{
            background-color:#f2f2f2;
            display: flex;
            flex-direction:column;
            align-items: flex-end;
            width: 100%;
            height: 100%;
        }
        .footer-column, .footer-column2{
            margin: 0px auto;

        }

       
}

@media (min-width: 1024px){

        .button-icon{
            display:none;
         }
     
}

@media screen and (max-width: 570px){

        .filter p{
        margin-top:-60px;
        }

}